@tailwind base;
@tailwind components;
@tailwind utilities;

.details-cell pre {
  white-space: pre-wrap;
  word-break: break-word;
  font-size: 12px;
  margin: 0;
}


body {
  margin: 0;
  font-family: Arial, sans-serif;
}
